.header {
  height: 15vh;
  background-image: linear-gradient(to right, orange, purple);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 25px;
}

.logo {
  position: absolute;
  left: 20px;
}

.links {
  font-family: Arial;
}
