.footer {
  background-image: linear-gradient(to right, black, navy);
  height: 10vh;
  display: flex;
  justify-content: center;
  color: white;
  bottom: 0;
  position: relative;
  width: 100%;
  z-index: 100;
  align-items: center;
}
